body{
    background-color: #cccccc;
}

.content{
    width: 800px;
    height: 100%;
    border: 1px solid #dddddd;
    margin: 0px auto;
	background-color: #ffffff;
}

.block1{
    text-align: center;
    margin-bottom: 20px;
}

p{
    font-family: Arial;
    font-size: 14px;
    line-height: 20px;
    margin: 20px 40px;
}

ul{
    font-family: Arial;
    font-size: 14px;
    line-height: 20px;
    margin: 0px 20px 20px 20px;

}

hr{
    margin: 0 40px;
}


